
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/Styles.css" rel="stylesheet" />
    <title>ActivityAnalysis</title>
</head>
<body>
    <div id="MainDiv"> 

        <h1>Mindful Body Fitness</h1>
        <h2>Activity Analysis</h2>

        <div id="Content">

            <div id="Activities">

                <div class="ActivityList">
                    <img src="http://icons.iconarchive.com/icons/jommans/emluator/128/Pictures-icon.png" alt="picture" height="50" width="50">
                    <p>Runing</p>
                    <p>1h 30m</p>
                </div>

                <div class="ActivityList">
                    <img src="http://icons.iconarchive.com/icons/jommans/emluator/128/Pictures-icon.png" alt="picture" height="50" width="50">
                    <p>Runing</p>
                    <p>1h 30m</p>
                </div>

                <div class="ActivityList">
                    <img src="http://icons.iconarchive.com/icons/jommans/emluator/128/Pictures-icon.png" alt="picture" height="50" width="50">
                    <p>Runing</p>
                    <p>1h 30m</p>
                </div>


            </div> @*end of activities div*@

            <div id="ActivityInfo">

                <p style="display : inline;">User's Name</p>
                <p style="display : inline; margin-left : 30px;">User's Surname</p>

            </div> @*Acitibity Info DIV*@

        </div> @*Content Div*@

    </div> @*main div*@
</body>
</html>
