
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ActivityInput</title>
    <link href="~/Content/brendencss.css" rel="stylesheet" />
</head>
<body>
    <h1 style="text-align:center">Mindfull Body Fitness</h1>
    <h2 style="text-align:center">Activity Input</h2>

    <div class="bcontainer">
        <p>
            Activity Type: <select id="activitytype" name="activitytype" onchange="changeReason()">
                <option value="" selected disabled hidden>Select Type</option>
                <option value="Endurance">Endurance</option>
                <option value="Strength">Strength</option>
                <option value="Balance">Balance</option>
                <option value="Flexibility">Flexibility</option>
            </select>
        </p>

        <p>
            Activity: <select id="activity" name="activity">
                <option value="" selected disabled hidden>Select Item</option>
            </select>
        </p>

        <p>Recommended Time/Amount: <input type="text" name="recTAmount"></p>

        <p>Actual Time/Amount: <input type="text" name="actTAmount"></p>

        <p>
            <button onclick="location.href='@Url.Action("Index", "Fitness")';return false;">Save and Submit</button>
            <button onclick="location.href='@Url.Action("Index", "Fitness")';return false;">Go Home</button>
        </p>

    </div>






    <script>
        function changeReason()
        {
            var selectedStatus = document.getElementById("activitytype");
            var Reason = document.getElementById("activity");
            var enduranceArray = new Array("Running", "Swimming", "Biking", "Stair Climbing");
            var strengthArray = new Array("Lifting Weights", "Push-Ups", "Pull-Ups", "Leg-Squats");
            var balanceArray = new Array("Stand on one foot", "Walk heel to toe", "Balance Board", "Shift Weight");
            var flexibilityArray = new Array("Shoulder rolls", "Forward Lunges", "Seat Stretch", "Cross-Over");
            removeOptions(Reason);

            if (selectedStatus.value == "Endurance")
            {
                for (var i = 0; i < 4; i++)
                {
                    var option = document.createElement("option");
                    option.text = enduranceArray[i];
                    option.value = enduranceArray[i];
                    Reason.add(option);
                }
            }
            else if (selectedStatus.value == "Strength")
            {
                for (var i = 0; i < 4; i++)
                {
                    var option = document.createElement("option");
                    option.text = strengthArray[i];
                    option.value = strengthArray[i];
                    Reason.add(option);
                }
            }
            else if (selectedStatus.value == "Balance")
            {
                for (var i = 0; i < 4; i++)
                {
                    var option = document.createElement("option");
                    option.text = balanceArray[i];
                    option.value = balanceArray[i];
                    Reason.add(option);
                }
            }
            else if (selectedStatus.value == "Flexibility")
            {
                for (var i = 0; i < 4; i++)
                {
                    var option = document.createElement("option");
                    option.text = flexibilityArray[i];
                    option.value = flexibilityArray[i];
                    Reason.add(option);
                }
            }
        }

        function removeOptions(selectbox)
        {
            for (var x = selectbox.options.length - 1; x >= 0; x--)
            {
                selectbox.remove(x);
            }
        }
    </script>
</body>
</html>
