
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>FoodAnalysis</title>
    <style>
        body {
        }
        .grid-container {
            display: grid;
            grid-template-columns: 60% 37%;
            grid-gap : 40px;
            background-color: #2196F3;
            padding: 10px;
            
        }

        .grid-grid-container{
            display : grid;
            grid-template-columns : 25% 25% 25% 25%;
        }

        .grid-item {
            background-color: rgba(255, 255, 255, 0.8);
            border: 1px solid rgba(0, 0, 0, 0.8);
            padding: 20px;
            padding-top: 0;
            text-align: center;

        }

        .box1 {
            /*align-self:start;*/
            grid-column: 1/3;
            grid-row: 1/3;
        }

        .box2 {
            /*align-self:end;*/
            grid-column: 3;
            grid-row: 1/3;
        }

        #HomePage-Food-Analysis
        {
            grid-template-rows : 1fr 1fr 1fr;
        }

        /*img {
            max-width: 100%;
            height: auto;
            display : block;
        }*/

        .HomePage-Food-Section
        {
            display : grid;
            grid-template-columns : 1fr 1fr 1fr;
        }

        .HomePage-Food-Section p
        {
            margin : 0;
        }

        #MainDiv
        {
            text-align: center;
        }

        #Container
        {
            justify-content : center;
            justify-items : center;
        }

        #Content {
            display: grid;
            grid-template-columns: 0.75fr 0.5fr;
            grid-auto-rows: minmax(100px, auto);
            background-color: #2196F3;
            padding: 10px;
            width: 75%;
            grid-column-gap: 3em;
            justify-content: center;
            margin : auto;

        }

        #Food
        {
            display : grid;
            /*grid-template-columns:repeat(3, 1fr);*/
            grid-template-columns : auto;
        }

        .FoodList {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-auto-columns: minmax(10px, auto);
            background-color: rgba(255, 255, 255, 0.8);
            padding: 20px;
            padding-top: 0;
            text-align: center;
        }

        #FoodInfo {
            background-color: rgba(255, 255, 255, 0.8);
            padding: 20px;
            padding-top: 0;
            text-align: center;
        }
    </style>
</head>
<body>
    <div id="MainDiv">

        <h1>Mindful Body Fitness</h1> <button style="margin-left:1150px" onclick="location.href='@Url.Action("Index", "Fitness")';return false;">Home</button>
        <h2>Food Analysis</h2>

        <div id="Container">

            <div id="Content">

                <div id="Food">

                    <div class="FoodList">
                        <img src="http://icons.iconarchive.com/icons/jommans/emluator/128/Pictures-icon.png" alt="picture" height="50" width="50">
                        <p>Carbohydrates</p>
                        <p>500g</p>
                    </div>

                    <div class="FoodList">
                        <img src="http://icons.iconarchive.com/icons/jommans/emluator/128/Pictures-icon.png" alt="picture" height="50" width="50">
                        <p>Proteins</p>
                        <p>90g</p>
                    </div>

                    <div class="FoodList">
                        <img src="http://icons.iconarchive.com/icons/jommans/emluator/128/Pictures-icon.png" alt="picture" height="50" width="50">
                        <p>Fats</p>
                        <p>100g</p>
                    </div>


                </div> @*end of activities div*@



                <div id="FoodInfo">

                    <p style="display : inline; background-color: #2196F3; width : 100%;">User's Name</p>
                    <p style="display : inline; margin-left : 30px; background-color: #2196F3; width : 100%;">User's Surname</p>

                    <p>In this section, overall information about food intake will be found</p>

                </div> @*Acitibity Info DIV*@

            </div> @*Content Div*@

        </div> @*Container Div*@

    </div> @*main div*@
</body>
</html>