
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/Styles.css" rel="stylesheet" />
</head>
<body>

    <h1 style="text-align : center;">Mindful Body Fitness</h1>

    <div class="grid-container">

<<<<<<< HEAD
            <h4 style="margin : 0; text-align : left; font-size : 16pt; margin-bottom : 30px;">Today's Activities</h4>

            <div>

                <div>Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>

            </div>

            <div></div>

            <div></div>

            <div></div>
=======
>>>>>>> brendensbranch

        <div class="grid-item" id="HomePage-Todays-Activities">

            <p style="margin : 0; text-align : left; font-size : 14pt;">Today's Activities</p>

            <div class="grid-grid-container">

                <div>
                    <img src="http://icons.iconarchive.com/icons/jommans/emluator/128/Pictures-icon.png" alt="picture" height="150" width="150">
                    <p style="margin : 0;">Activity 1</p>
                </div>

                <div>
                    <img src="http://icons.iconarchive.com/icons/jommans/emluator/128/Pictures-icon.png" alt="picture" height="150" width="150">
                    <p style="margin : 0;">Activity 1</p>
                </div>

                <div>
                    <img src="http://icons.iconarchive.com/icons/jommans/emluator/128/Pictures-icon.png" alt="picture" height="150" width="150">
                    <p style="margin : 0;">Activity 1</p>
                </div>

                <div>
                    <img src="http://icons.iconarchive.com/icons/jommans/emluator/128/Pictures-icon.png" alt="picture" height="150" width="150">
                    <p style="margin : 0;">Activity 1</p>
                </div>

            </div>

        </div> @*End of todays Activities*@

    <div id="HomePage-Analysis" class="grid-item" style="  grid-column-start: 2; grid-column-end : 3; grid-row-start : 1 ; grid-row-end : 3;">

        <p style="margin : 0; text-align : left; font-size : 14pt;">Analysis</p>
        <hr />

        <div id="HomePage-Activity-Analysis">

            <p style="margin : 0; text-align : left; font-size : 10pt; margin-bottom : 1em;">Activity Analysis</p>

            <div class="HomePage-Analysis-Section">
                <img src="http://icons.iconarchive.com/icons/jommans/emluator/128/Pictures-icon.png" alt="picture" height="50" width="50">
                <p> 1h 31m </p>
                <p> Running</p>
            </div>

            <div class="HomePage-Analysis-Section">
                <img src="http://icons.iconarchive.com/icons/jommans/emluator/128/Pictures-icon.png" alt="picture" height="50" width="50">
                <p> 1h 31m </p>
                <p> Running</p>
            </div>

            <div class="HomePage-Analysis-Section">
                <img src="http://icons.iconarchive.com/icons/jommans/emluator/128/Pictures-icon.png" alt="picture" height="50" width="50">
                <p> 1h 31m </p>
                <p> Running</p>
            </div>

        </div> @*End of Activity Analysis on the home page*@

        <hr />

        <div id="HomePage-Eating-Analysis">

            <p style="margin : 0; text-align : left; font-size : 10pt; margin-bottom : 1em;">Eating Analysis</p>

            <div class="HomePage-Analysis-Section">
                <img src="http://icons.iconarchive.com/icons/jommans/emluator/128/Pictures-icon.png" alt="picture" height="50" width="50">
                <p> Water </p>
                <p> Amount</p>
            </div>

            <div class="HomePage-Analysis-Section">
                <img src="http://icons.iconarchive.com/icons/jommans/emluator/128/Pictures-icon.png" alt="picture" height="50" width="50">
                <p> Carbohydrates </p>
                <p> Amount </p>
            </div>

            <div class="HomePage-Analysis-Section">
                <img src="http://icons.iconarchive.com/icons/jommans/emluator/128/Pictures-icon.png" alt="picture" height="50" width="50">
                <p> Proteins </p>
                <p> Amount </p>
            </div>

        </div> @*End of Activity Analysis on the home page*@



    </div> @*Analysis section of the Home Page*@

        <div class="grid-item " id="HomePage-Food-Intake">

            <p style="margin : 0; text-align : left; font-size : 14pt;">Today's Activities</p>

            <div class="grid-grid-container">

                <div>
                    <img src="http://icons.iconarchive.com/icons/jommans/emluator/128/Pictures-icon.png" alt="picture" height="150" width="150">
                    <p style="margin : 0;">Activity 1</p>
                </div>

                <div>
                    <img src="http://icons.iconarchive.com/icons/jommans/emluator/128/Pictures-icon.png" alt="picture" height="150" width="150">
                    <p style="margin : 0;">Activity 1</p>
                </div>

                <div>
                    <img src="http://icons.iconarchive.com/icons/jommans/emluator/128/Pictures-icon.png" alt="picture" height="150" width="150">
                    <p style="margin : 0;">Activity 1</p>
                </div>

                <div>
                    <img src="http://icons.iconarchive.com/icons/jommans/emluator/128/Pictures-icon.png" alt="picture" height="150" width="150">
                    <p style="margin : 0;">Activity 1</p>
                </div>

            </div>

        </div> @*End of Today's food intake*@


</body>
</html>
