
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/Styles.css" rel="stylesheet" />
</head>
<body>

    <h1>Mindful Body Fitness</h1>

    <div class="grid-container">


        <div class="grid-item">

            <p style="margin : 0; text-align : left; font-size : 14pt;">Today's Activities</p>

            <div class="grid-grid-container">

                <div>
                    <img src="http://icons.iconarchive.com/icons/jommans/emluator/128/Pictures-icon.png" alt="picture" height="150" width="150">
                    <p style="margin : 0;">Activity 1</p>
                </div>

                <div>
                    <img src="http://icons.iconarchive.com/icons/jommans/emluator/128/Pictures-icon.png" alt="picture" height="150" width="150">
                    <p style="margin : 0;">Activity 1</p>
                </div>

                <div>
                    <img src="http://icons.iconarchive.com/icons/jommans/emluator/128/Pictures-icon.png" alt="picture" height="150" width="150">
                    <p style="margin : 0;">Activity 1</p>
                </div>

                <div>
                    <img src="http://icons.iconarchive.com/icons/jommans/emluator/128/Pictures-icon.png" alt="picture" height="150" width="150">
                    <p style="margin : 0;">Activity 1</p>
                </div>

            </div>

        </div>

        <div class="grid-item" style="  grid-column-start: 2; grid-column-end : 3; grid-row-start : 1 ; grid-row-end : 3;">

            <p style="margin : 0; text-align : left; font-size : 14pt;">Analysis</p>
            <hr />
            <p style="margin : 0; text-align : left; font-size : 10pt; margin-bottom : 1em;">Activity Analysis</p>

            <div>
                <img style="float : left; display : inline;" src="http://icons.iconarchive.com/icons/jommans/emluator/128/Pictures-icon.png" alt="picture" height="75" width="75">
                <p style="margin : 0; text-align : left; font-size : 10pt; display : inline"> 1h 31m </p>
                <p style="margin : 0; text-align : left; font-size : 10pt; display : inline"> Running</p>
            </div>

            <div>
                <img style="float : left; display : inline;" src="http://icons.iconarchive.com/icons/jommans/emluator/128/Pictures-icon.png" alt="picture" height="75" width="75">
                <p style="margin : 0; text-align : left; font-size : 10pt; display : inline"> 1h 31m </p>
                <p style="margin : 0; text-align : left; font-size : 10pt; display : inline"> Running</p>
            </div>

            <div style="">
                <img style="float : left; display : inline;" src="http://icons.iconarchive.com/icons/jommans/emluator/128/Pictures-icon.png" alt="picture" height="75" width="75">
                <p style="margin : 0; text-align : left; font-size : 10pt; display : inline"> 1h 31m </p>
                <p style="margin : 0; text-align : left; font-size : 10pt; display : inline"> Running</p>
            </div>

        </div>

        <div class="grid-item ">

            <p style="margin : 0; text-align : left; font-size : 14pt;">Today's Activities</p>

            <div class="grid-grid-container">

                <div>
                    <img src="http://icons.iconarchive.com/icons/jommans/emluator/128/Pictures-icon.png" alt="picture" height="150" width="150">
                    <p style="margin : 0;">Activity 1</p>
                </div>

                <div>
                    <img src="http://icons.iconarchive.com/icons/jommans/emluator/128/Pictures-icon.png" alt="picture" height="150" width="150">
                    <p style="margin : 0;">Activity 1</p>
                </div>

                <div>
                    <img src="http://icons.iconarchive.com/icons/jommans/emluator/128/Pictures-icon.png" alt="picture" height="150" width="150">
                    <p style="margin : 0;">Activity 1</p>
                </div>

                <div>
                    <img src="http://icons.iconarchive.com/icons/jommans/emluator/128/Pictures-icon.png" alt="picture" height="150" width="150">
                    <p style="margin : 0;">Activity 1</p>
                </div>

            </div>

        </div>

    </div>
</body>
</html>
