
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>LogInPage</title>
    <link href="~/Content/Amo'sStyleSheet.css" rel="stylesheet" />
</head>
<body><h1>Mindful Body Fitness</h1>
    <h1>Log In</h1>
    <div class="dvsn"> 
       
        <center>
            <label>Email Address:</label> <input type="text" name="EmailAddress" class="center-block" /> <br />

            <label>Password      :</label>      <input type="password" name="Password" class="center-block" /> <br />

            <input type="submit" value="Log In"> <input type="submit" value="Forgot Password?">  <br />
            <br />
            <label>Not a member?</label> <a href="url">Create Account</a>
        </center>
       <br/>
        
    </div>
</body>
</html>
