
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UserProfile</title>
</head>
<body>
    <div>
        <h1>Mindful Body Fitness</h1>
            <br /><br />
        <h2>User Profile</h2>
            <br /><br />
         <img/>
            <br />
        <label>Name</label>         <label>Surname</label>
            <br /><br />
        <div style="background-color:dodgerblue;">
            <label style="background-color:white; width:100px; height: 40px;">About You</label>
            <br /><br />
            <label>Nationality  </label><input type="text" />       <label>Date of Birth  </label><input type="text" />
            <br /><br />
            <label>Gender       </label><input type="text" />       <label>Country        </label><input type="text" />
            <br /><br />
            <label>Age          </label><input type="text" />       <label>Allergies      </label><input type="text" />
            <br /><br />
            <label>Height       </label><input type="text" /><label>cm</label>

        </div>
    </div>
</body>
</html>
