
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UserProfile</title>
</head>
<body>
<<<<<<< HEAD
    <div>
        <h1>Mindful Body Fitness</h1>
            <br /><br />
        <h2>User Profile</h2>
            <br /><br />
         <img/>
            <br />
        <label>Name</label>         <label>Surname</label>
            <br /><br />
        <div style="background-color:dodgerblue;">
            <label style="background-color:white; width:100px; height: 40px;">About You</label>
            <br /><br />
            <label>Nationality  </label><input type="text" />       <label>Date of Birth  </label><input type="text" />
            <br /><br />
            <label>Gender       </label><input type="text" />       <label>Country        </label><input type="text" />
            <br /><br />
            <label>Age          </label><input type="text" />       <label>Allergies      </label><input type="text" />
            <br /><br />
            <label>Height       </label><input type="text" /><label>cm</label>

        </div>
    </div>
=======
    <div style="align-content:center;align-items:center;align-self:center;text-align:center; resize:both;"> 
        <h1 style="text-align:center">Mindful Body Fitness</h1>
        <br /><br />
        <h2 style="text-align:center">User Profile</h2>
        <br /><br />
        <img style="width:175px; height:189px; align-self:center;"/>
        <br />
        <label style="text-align:center;">Name         </label><label style="text-align:center;">Surname          </label>
        <br /><br />
    </div>

    <div style="background-color:dodgerblue; width:50%; margin:auto;">
        <label style="background-color:white; text-align:center;">About you:</label>
        <br /><br />

        <div style="float: left; background-image: linear-gradient(dodgerblue, deepskyblue);">
            <label>Nationality  </label><input type="text" />       
            <br /><br />
            <label>Gender       </label><input type="text" />       
            <br /><br />
            <label>Age          </label><input type="text" />       
            <br /><br />
            <label>Height       </label><input type="text" /><label>cm</label>
        </div>

        <div style="float: right; background-image: linear-gradient(dodgerblue, deepskyblue);">
            <label>Date of Birth    </label><input type="text" />
            <br /><br />
            <label>Country          </label><input type="text" />
            <br /><br />
            <label>Allergies        </label><input type="text" />
        </div>

    </div>

>>>>>>> Jackie'sBranch
</body>
</html>
