body {
}

<<<<<<< HEAD
.grid-container {
  display: grid;
  grid-template-columns: 67% 30%;
  grid-column-gap: 50px;
  background-color: #2196F3;
  padding: 10px;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  font-size: 30px;
  text-align: center;
}
=======
        .grid-container {
            display: grid;
            grid-template-columns: 60% 37%;
            grid-gap : 40px;
            background-color: #2196F3;
            padding: 10px;
            
        }

        .grid-grid-container{
            display : grid;
            grid-template-columns : 25% 25% 25% 25%;
        }
<<<<<<< HEAD
>>>>>>> brendensbranch
=======

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    padding-top: 0;
    text-align: center;

}

.box1 {
    /*align-self:start;*/
    grid-column: 1/3;
    grid-row: 1/3;
}

.box2 {
    /*align-self:end;*/
    grid-column: 3;
    grid-row: 1/3;
}

#HomePage-Activity-Analysis
{
    grid-template-rows : 1fr 1fr 1fr;
}

/*img {
    max-width: 100%;
    height: auto;
    display : block;
}*/

.HomePage-Analysis-Section
{
    display : grid;
    grid-template-columns : 1fr 1fr 1fr;
}

.HomePage-Analysis-Section p
{
    margin : 0;
}

#MainDiv {
    text-align: center;
}

#Container
{
    justify-content : center;
    justify-items : center;
}

#Content {
    display: grid;
    grid-template-columns: 0.75fr 0.5fr;
    grid-auto-rows: minmax(100px, auto);
    background-color: #2196F3;
    padding: 10px;
    width: 75%;
    grid-column-gap: 3em;
    justify-content: center;
    margin : auto;

}

#Activities
{
    display : grid;
    /*grid-template-columns:repeat(3, 1fr);*/
    grid-template-columns : auto;
}

.ActivityList {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-columns: minmax(10px, auto);
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    padding-top: 0;
    text-align: center;
}

#ActivityInfo {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    padding-top: 0;
    text-align: center;
}

/*#Activities p
{
    margin : 0;
    margin-block-start : 0;
    margin-block-end : 0;
    display : inline;
}*/
>>>>>>> ShanahsBranch
